* {
    box-sizing: border-box;
  }

.entireBody {
  max-height: 100vh;
  max-width: 100vw;
}

body {
  font-family: Arial, serif;
  background: #f1f1f1;
}

/* Create two unequal columns that floats next to each other */
/* Left column */

.left_column {
  float: left;
  width: 18%;
  background: #F0F0ED;
  padding-left: 10px;
  max-height: 95vh;
  overflow-y: scroll;
}

.centre_column {
  float: left;
  width: 68%;
}

.displayQuery{
  background: lightpink;
  padding:5px;
  height: 28vh;
  overflow-y: scroll;
  overflow-x: scroll;
}

.displayWorkspace{
  background: #FFF8E1;
  padding-left: 10px;
  padding-top: 5px;
  height: 55vh;
  overflow-y: scroll;
  overflow-x: scroll;
}

.displayWordedOutput{
  background: #F0E9FF;
  padding-left: 10px;
  padding-top: 5px;
  height: 12vh;
  overflow-y: scroll;
}

.right_column {
  float: left;
  width: 12%;
  background: #F0F0ED;
  padding-left: 10px;
}

.displayConnectors{
  min-height: 300px;
  overflow-y: scroll;
}


/* Clear floats after the columns */
.main_workspace:after {
  content: "";
  display: table;
  clear: both;
}
  
@media screen and (max-width: 1024px) {
  .centre_column, .left_column, .right_column {
    width: 100%;
    padding: 0;
  }
}