* {
    box-sizing: border-box;
  }

.entireBody {
  max-height: 100vh;
  max-width: 100vw;
}

body {
  font-family: Arial, serif;
  background: #ffffff;
}

/* Clear floats after the columns */
.main_workspace:after {
  content: "";
  display: table;
  clear: both;
}
  
@media screen and (max-width: 1024px) {
  .centre_column, .left_column, .right_column {
    width: 100%;
    padding: 0;
  }
}