/* All section tooltips css style */
.tooltips {
  position: relative;
  display: inline;
  color:grey;
  height: 15px;
  line-height: 15px;
  /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

.tooltips .tooltip_info {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: white;
  text-align: left;
  /* padding: 5px 0; */
  border-radius: 3px;
  top: -5px;
  left: 105%;
  
}

.tooltips:hover .tooltip_info {
  visibility: visible;
  /* change visible to hidden for opposite effect */
}

/* statementFreeText tooltips css style */
.StatementFreeText .StatementFreeText_tooltip {
visibility: hidden;
width: fit-content;
background-color: black;
color: white;
text-align: left;
padding: 5px;
border-radius: 6px;
top: 100%;
left: 0;
position:absolute;
z-index: 1;
margin-top: 5px;

}

.StatementFreeText:hover .StatementFreeText_tooltip  {
visibility: visible;
}

/* statementRoot tooltips css style */
.StatementRoot .StatementRoot_tooltip {
visibility: hidden;
width: fit-content;
background-color: black;
color: white;
text-align: left;
padding: 5px;
border-radius: 6px;
top: 100%;
left: 0;
position:absolute;
z-index: 1;
margin-top: 5px;
  
}

.StatementRoot:hover .StatementRoot_tooltip  {
visibility: visible;
}
.StatementRoot:active .StatementRoot_tooltip  {
  display: none;
}
/* statementStudent tooltips css style */
.StatementStudent .StatementStudent_tooltip {
visibility: hidden;
width: fit-content;
background-color: black;
color: white;
text-align: left;
padding: 5px;
border-radius: 6px;
top: 100%;
left: 0;
position:absolute;
z-index: 1;
margin-top: 5px;

}

.StatementStudent:hover .StatementStudent_tooltip  {
visibility: visible;
}

.StatementStudent:active .StatementStudent_tooltip  {
  display: none;
}

/* statementTruth tooltips css style */
.StatementTruth .StatementTruth_tooltip {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: white;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  top: 100%;
  left: 0;
  position:absolute;
  z-index: 1;
  margin-top: 5px;
    
}
  
.StatementTruth:hover .StatementTruth_tooltip  {
  visibility: visible;
}